h1{
    color : beige;
    margin: 10px auto 10px;

    
}

.container{
    background-color: cyan;
    width: 100%;
    max-width: 500px;
    padding: 30px 30px 180px;
    margin: 100px auto 50px;
    border-radius: 20px;
}


.button{
    background-color: beige;
    position:absolute;
    left:800;
    padding: 20px 30px 20;
    margin: 30px auto 50px;
    border-radius: 20px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 30px;
    padding-left: 20px;
    
    margin-bottom: 25px;
    
    
}
input{
    flex:1;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    outline:none;
    font-weight: 20px;
    


}
button{
    background: rgb(59, 155, 59);
    color: white;
    outline: none;
    border:none;
    padding: 12px 30px;
    cursor:pointer;
    border-radius: 20px;
}





