h1{
    color : beige;
    margin: 10px auto 10px;

    
}

.container{
    background-color: rgb(24, 25, 27);
    width: 100%;
    max-width: 500px;
    padding: 30px 30px 180px;
    margin: 100px auto 50px;
    border-radius: 20px;
    
    
}


.button{
    background-color: rgb(170, 206, 12);
    position:absolute;
    padding: 20px 30px 20px;
    margin: 30px auto 50px;
    border-radius: 20px;
    

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(215, 218, 250);
    /* make thing round */
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-left: 20px;
    
    /* margin-bottom: 25px; */
    
    
}
.descrip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(215, 218, 250);
    /* make thing round */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    background-color: transparent;
    border-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    outline:none;
    font-weight: 20px;
    font-size: 18px;
    


}
#description{
    resize:none;
    flex:1;
    background-color: transparent;
    border-color: transparent;
    padding-top: 10px;
    padding-bottom: 100px;
    outline:none;
    font-weight: 20px;
    font-size: 15px;
}
#add{
    background: rgb(170, 206, 12);
    color: white;
    outline: none;
    border:none;
    /* padding: first value is height and second value is width */
    padding: 12px 30px;
    /* tells the user that they can click it by turning the mouse into the clicking thing when
    hovered over it */
    cursor:pointer;
    border-radius: 15px;
    margin-bottom: -150px;
    margin-right: 10px;
}

/* customizing the list */
ul li{
    /* the list style whether it is bullet points or etc */
    display: flex;
    list-style: none;
    font-size: 17px;
    padding: 15px 8px 15px 30px;
    user-select: none;
    background-color: rgb(215, 218, 250);
    margin-top: 10px;
    border-radius: 50px;
    /* changing the font */
    font-family: monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor:pointer;
    position: relative;

}
/* for the guner thing, before formats it so that it is BEFORE whatever */
ul li::before
{
    content:"";
    position:absolute;
    border-radius: 50%;
    height: 40px;
    width : 40px;
    background-image: url(gunter.jpg);
    background-size: cover;
    background-position: center;
    top: 7.5px;
    left: -50px;
}

ul li span{
    position: absolute;
    right: 0;
    width: 50px;
    height:50px;
    font-size: 26px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    line-height: 50px;
    /* making the x centered */
    align-self: center;
    background-color: red;


}

ul li.checked{
    text-decoration: line-through;
}

ul li.checked::before{
    content:"";
    position:absolute;
    border-radius: 50%;
    height: 40px;
    width : 40px;
    background-image: url(gunterchecked.jpg);
    background-size: cover;
    background-position: center;
    top: 7.5px;
    left: -50px;
}
.login{
    
    position: relative;
    line-height: 100px;
    text-align: center;
    /* puts button on right */
    
    width: 100%;

}
#log{
    position: relative;
    background: rgb(170, 206, 12);
    border:none;
    /* padding: first value is height and second value is width */
    padding: 20px 50px;
    /* tells the user that they can click it by turning the mouse into the clicking thing when
    hovered over it */
    cursor:pointer;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin-right: 0;
    
    
    

}

#logout{
    background: rgb(170, 206, 12);
    border:none;
    border-radius: 15px;
    padding: 20px 50px;
    cursor: pointer;


}
/* body{
    
    background-image: url('todoimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
} */





